:root{
    --colr-main: #fff;
    --colr-dark: #000;
    --colr-main2:#edecec;
    --colr-active: #751fff;
    --colr-promo: #d72d2d;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /*font-family: "Manrope-VariableFont_wght";
    font-family: 'Montserrat-Light';*/
    color: #000;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    
}
html,
body {
    height: 100%;
    line-height: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
    background-color: var(--colr-main2);
    font-family: 'Montserrat-Light';
}
[class*=__container] {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
@font-face {
    font-family: "Montserrat-Light";
    font-display: swap;
    src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat-Bold";
    font-display: swap;
    src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    font-display: swap;
    src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}



.wrepper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.header {
    background-color: var(--colr-main) ;
    
}

.main{
    flex: 1 1 auto;  
    position: relative;
}
[class*=-title]{
    color: #000;
    font-size: 20px;
    font-family:'Montserrat-Bold';
    margin: 10px auto;
    
}

/*=============Form-start==================*/
.field_showBtn>i.active::before{
    content:'\f070';
    color: #000;
}
.form-Block {
    width: 100%;
   
}
.form {
    min-width: 300px;
    max-width: 400px;
   /* border-radius: 50px;*/
    overflow: hidden;
    background: var(--colr-main);
    margin: 20px auto;
    
}

.formAuthorization {
    padding: 10px 10px 20px;  
}
.formRegistration,
.fieldAuthorization{
    width: 100%;
}

.form-innerWrepper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}
.form-elementWrepper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 50px;
    overflow: hidden;
    width: 90%;
    overflow:hidden;
}
.form-title{
    color: #000;
    font-size: 20px;
    font-family:'Montserrat-Bold';
    margin: 10px auto;
    
}




.field {
    height: 40px;
    background-color: var(--colr-main2);
    padding: 2px 20px;
}

.field:active,
.field:focus,*
.field:hover {
    border: none;
    outline: none;
}

.form-btn{
    width: 100%;
}

.field-password{
    flex:1 1 auto;
}
.field_showBtn{
    flex:0 0 50px;
   
}


/*=============Form-and==================*/



.header__container {
}
.header-blockFirst {
    background-color: var(--colr-dark) ;
    /*display: flex;*/
}
.menu__item-text{
    padding-right: 3px;
   
}
.header-blockFirst-text {
    padding: 16px;
}
.header-menu {
}
.menu__list {
    display: flex;
    flex-direction: row;

}
.header-blockFirst-container{
    display: flex;
    justify-content: space-between;
}
.menu__item {
    display: flex;
}
.menu__link-phone{
    display: flex;
    
}
.menu__link {
    color: var(--colr-main);
    font-size: 14px;
    padding: 16px;
    display: block;
    white-space:  nowrap;
    
}
.header-blockSecond {
   /* display: flex;*/
    background-color: var(--colr-main);
   
}
.head-title{
    text-align: center;
    font-family: 'Montserrat-Bold';
    color: var(--colr-dark);
    font-size: 25px;
    padding: 50px 0 20px 0;
 }
 
.header-blockSecond-container{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
     
}

.header__logo-min,
.header__logo {
    font-family: 'Montserrat-Bold';
    color: var(--colr-dark);
    font-size: 30px;
    padding: 16px;
    display: block;
}
.search-wrepper {
    margin-left: 10px;


}
.search {
    overflow: hidden;
    border-radius: 50px;
    height: 40px;
    display: flex;
   
}
.search-input {
    background-color: var(--colr-main2);
    height: 40px;
    width: 200px;
    padding: 2px 20px;
}
.search-input:focus,
.search-input:active,
.search-input:hover {
    border-radius: 50px 0 0 50px;
}
search-input:placeholder{

}
.search-btn {
    height: 40px;
    padding: 5px 30px;
    background-color: var(--colr-active);
    color: #fff;
    font-weight: 400;
}
.btn {
    cursor: pointer;
    background-color: var(--colr-active);
    color: #fff;
    padding: 10px ;
    font-size: 14px; 
    display: flex;
    align-items:  center;
    justify-content: center;
    font-family: "Montserrat-Regular";
    height: 40px; 
    transition: 0.8s;
}
.btn:hover {
    background-color: #000;
}


.btn *{
    color: #fff;
}
.header-subMenu {
    align-items: center;
}
.header-subMenu>.subMenu__list {
    display: flex;

}
.subMenu__item {
    display: flex;
    align-items: center;

}
.subMenu__link {
    display: flex;
    align-items: center;
}
.subMenu__link>i {
    color: var(--colr-dark);
    font-size: 20px;
    padding: 5px;
}
.header-blockThird {
    background-color: var(--colr-main2);
    
}
.header-menuCategory {
    display: flex;
    
}
.wrepper-inner-blockSecond{
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
}
.subMenu__link-countCart{
    background-color: var(--colr-dark);
    border-radius: 50px;
    color: #fff;
    width: 19px;
    height: 19px;
    display: block;
    padding: 3px 5px;
    font-size: 14px;
}
.menuCategory__list {
    display: flex;
}
.menuCategory__item {
}
.menuCategory__link {
    color: var(--colr-dark);
    font-size: 14px;
    padding: 10px;
    display: block;
}
.firstBlock-img{
    width: 100%;
}
.main {

}
.footer {
}

.main{
 
}
.header__logo-min{
    display: none;
}
.burger-top{
    display: none; 
}
.firstBlock{
    position: relative;
}
/*=========tagline-start===============*/
.tagline
{
   position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}
.tagline-wrepper 
{
    width: 50%;
}
.tagline-mark-1 {
    font-size: 14px;
    background-color: var(--colr-promo);
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
    width: auto;

}
.tagline-title-2 {
    /*font-size: 50px;*/
    color: #000;
    font-family: 'Montserrat-Bold';
    line-height: 1.3;
    margin-bottom: 10px;
    font-size: calc(20px + 50 * ((100vw - 320px)/ 1920 -320));
}
.tagline-title-3 {
   /* font-size: 20px;*/
    color: #000;
    font-size: calc(14px + 20 * ((100vw - 320px)/ 1920 -320));
}
.tagline-btn {
    display: block;
    border-radius: 50px;
    margin: 40px 0 20px;
    max-width: 200px;
    padding: 11px;
    text-align: center;
    font-size: 18px;
}

/*=======tagline-and================*/







/*============benefits-start===================*/
.benefitsBlock {
    
    margin: 20px 0;
}
.benefits__container {
}
.benefits__list {
    background-color: var(--colr-main);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(291px,1fr));

}
.benefits__item {
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
    align-items: center;
   
   

}
.benefits__item>i {
    padding: 10px;
    color: var(--colr-dark);
    font-size: 25px;
    display: block;
}

.benefits__item-title {
    padding: 10px 0;
    color: var(--colr-dark);
    font-size: 20px;
    display: block;
    max-width: 150px;
    text-align: center;
    font-family: 'Montserrat-Regular';
}

/*=========benefits-and=====================*/

/*===========superPrise-start==============*/
.superPrise__Block {
}
.superPrise__container {
    
}
.content-block{
    background-color: var(--colr-main);
    padding:  20px 0;
}
.superPrise__title {
    text-align: center;
    font-family: 'Montserrat-Bold';
    color: var(--colr-dark);
    font-size: 25px;
    padding:  50px 0 20px 0; 
    
}
.superPrise__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    max-width: 90%;
   margin: 10px auto;
}
.superPrise__item {
    border: 1px solid var(--colr-main2);
    position: relative;
    overflow: hidden;

}
.mark {
    background-color: red;
    /*position: absolute;
    left: 0;
    top: 0;*/
    padding: 5px 10px;
    color: #fff;
}
.mark-wrepper{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}


.superPrise__item-img {
    /*width: 100%;*/
    width: 200px;
    display: block;
    margin: 20px auto;
}
.superPrise__innertextWrepper {
    /*text-align: center;*/
    font-family: 'Montserrat-Light';
    color: var(--colr-dark);
    font-size: 14px;
    padding:   10px;
    display: block;
    line-height: 1.7;


}
.superPrise__item-title {

}
.list-price {
    display: flex;
    flex-direction: row;
    color: var(--colr-active);
   font-size: 20px;
   flex-wrap: wrap;

}
.list-price__item-oldprise {
    text-decoration: line-through ;
}
.list-price__item-newprise {
    margin-left: 10px;
    font-family: "Montserrat-Bold";
}
.superPrise__item-photo-wrepper{
    width: 100%;
    height: 240px;
    display: block;
    overflow: hidden;
    transition: 0.8s;
    margin-bottom: 20px;
}
.superPrise__item-photo-wrepper:hover{
    transform: scale(1.1);
}
/*.superPrise__item-photo-wrepper>picture>*{
    object-fit: cover;
    width: 100%;
    height: 100%;
}*/
.superPrise-all__btn{
    display: block;
    border-radius: 50px;
    margin: 40px auto 20px;
    max-width: 200px;
    padding: 11px;
    text-align: center;
    font-size: 18px;
}
/*==========superPrise-and=======*/

/*==========category-start=======*/
.category-Block {
    margin: 20px 0;
}
.category__container {

}
.content-block {

}

.category__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    max-width: 90%;
    margin: 10px auto;
    color: #000;
    grid-gap: 10px;


}
.category__item :hover .category__item-img{
    transform: scale(1.2);
}
   



.category__linck {
    display: flex;
    flex-direction: column;

}
.category__item-photo-wrepper {
    height: 180px;
    width: 180px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
   
}
.category__item-photo-wrepper:hover .category__item-img{
    transform: scale(1.2);
}


.category__item-img {
    width: 80%;
    display: block;
    margin: 0 auto;
    transition: 0.8s;
}
.category-title {
    display: block;
    margin: 10px auto;
    font-family: 'Montserrat-Regular';
    font-weight: 800;
}
.category__linck{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    font-size: 18px;
    color: #000;
}
/*==========category-and=======*/
/*==========brends-start=======*/
.brends-Block {
}
.brends__container {
   

}
.content-block {
    background-color: var(--colr-main);
    margin: 20px 0;
}

.brends__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
    max-width: 90%;
    margin: 10px auto 40px;
    
}
.brends__item {
    height: 120px;
   border:1px solid var(--colr-main2);
   display: flex;
   align-items: center;
   justify-content: center;
   filter: grayscale(80%);

}

.brends__item-img {
    width: 40%;
    display: block;
    margin: 0 auto;
}
/*==========brends-and=======*/
/*==========footer-start=======*/
.footer {
    padding: 100px 0;
    background-color: var(--colr-main);
    color: #000;
    line-height: 1.7;
    font-size: 14px;
}
.footer__container {
   

}
.footer__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer__content>.footer-contacts,
.footer-menu {
    
    flex: 1 0 250px;
}
.footer-contacts{
    line-height: 1.7;
}
.footer__logo {
    font-family: 'Montserrat-Bold';
    color: var(--colr-dark);
    font-size: 30px;
    padding: 0 16px;
    display: block;
    flex: 1 0 250px;
}
.footer-menu {
}
.footer-menu__list {
}
.footer-menu__item {
}
.footer-menu__link {
    border-bottom: 1px solid transparent;
    transition: 0.8s;
    font-size: 14px;
    color: Var(--colr-dark);
}
.footer-menu__link:hover {
    border-bottom: 1px solid #000;
   
}
.footer-contacts {
}
.footer-contact {
}
.footer-contacts__link {
}
.footer-contacts__link-phone {
}
.footer-contacts__list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100px;
}
.footer-contacts__item {
    flex: 1 0 40px ;
    
}
.footer-contacts__item i {
    font-size: 14px;
    color: Var(--colr-dark);
    font-size: 20px;
    
}
.footer-title{
    font-family: 'Montserrat-Bold';
    font-size: 15px;
}
/*==========footer-and=======*/

.hidden{
    overflow: hidden;
}

.footer__content>*{
    padding-left: 16px;
}

/*=============cart-goods-start=========================*/

.cardProduct-goods-1block{
    background-color: var(--colr-main);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.cardProduct-goods-1block-innerWrepper{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}



.cardProduct-goods-1block__img{}

.goodsList-info{
   display: flex;
    flex-direction: column;
}
.Wrapper-goodsList-info{
    
}
.wrepper-photoGoods{
    width: 100%;
    background-color: var(--colr-main);
}
.photoGoods{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px auto 20px;
    
}
.goodsList-info-item>span{
    padding: 10px;
}


.cardProduct-photoGoods-2block{
    width: 100%;
    background-color: var(--colr-main); 
}
.cardPhotoGoods-list{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}



.cardProduct-specifications-3block{
    width: 100%;
    background-color: var(--colr-main); 
}
.cardSpecifications-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px auto 20px;
}
.cardSpecifications-item{
    padding: 10px;
    border-bottom: 1px solid var(--colr-main2);
    
}
.cardSpecifications-text{
    font-family: 'Montserrat-Regular';
} 
cardSpecifications-bold{
    font-family: 'Montserrat-Bold';
    font-size: 14px;
   
    
}
.card-btn-add-basket{
    border-radius: 50px;
    margin: 20px;
    
}
.title_goods-main{
    font-size: 18px;
    font-family: 'Montserrat-Bold';
    color: var(--colr-dark);

    padding: 16px;
    display: block;

}

/*=============cart-goods-and=========================*/

.block-use{
    background-color: red;
}

/*=============search-start=========================*/
.resultSearch__container{
    
}
.resultSearch__content{
  
    
}
.resultSearch__list searchResult-list{
    
}
.searchResult__item{
    margin: 5px 0;
    display: flex;
    background: var(--colr-main);
    height: 170px;
    padding: 5px 10px;
}
.searchResult__item:hover .img-resultSearch__img{
    transform: scale(1.1);
}


.searchResult-list{
    padding: 5px 10px;
    margin: 10px 0;
}
.searchResult__href{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
   
}
.img-resultSearch{
   width: 200px;
   display: block;
   overflow: hidden;
}
.img-resultSearch__img{
    width: 100%
}
.searchResult__img,
.searchResult__contentText{
    display: flex;
   
}

.img-resultSearch__img{
    transition: 0.8s;
}
.img-resultSearch{
    width: 110px;
    height: auto;
    text-align: center;
}
/*=============search-and=========================*/

.cab-title{
    background: var(--colr-main);
    padding: 20px 5px; 
}
.cab-mainWrepper{
    background: var(--colr-main);
    padding: 20px 5px; 
}
.cab-tab{
    width: 100%;
    table-layout: fixed;
}
.cab-tab-title{
    
    
}
.cab-tab__nameCol{
    font-family: 'Montserrat-regular';
    /*border: 1px solid #a52a2a;*/
    
}
.cab-tab__cell{
    text-align: center;
  
    
}
.wrepperOutBtn{
    
}
.outBtn__container{
   
}

.outBtn__cab{
    width: 150px; 
    align-items: center;
    justify-content: center;
    border-radius: 50px;
   
    
}
.innerWrepperOutBtn{
    background: var(--colr-main);
    padding: 20px 5px; 
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*===========pagination-start==========================*/
.pagination-Block{
    margin: 20px 0;
}
.pagination__container{
    background-color: var(--colr-main);
     
}
.pagination-list{
    display: flex;
    flex-direction: row;
}
.pagination-item{
    
}
.pagination-href{
    display: block;
    padding: 5px;
    
}
.pagination__cntent{
    padding: 20px 10px;
    display: flex;
    justify-content: center;

}

/*===========pagination-and==========================*/







@media screen and (max-width: 900px){
    .tagline-title-2 {
        /*font-size: 50px;*/
        color: #000;
        font-family: 'Montserrat-Bold';
        line-height: 1.3;
        margin-bottom: 10px;
        font-size: calc(20px + 50 * ((100vw - 800px)/ 1920 -320));
    }
    .tagline-title-3 {
       /* font-size: 20px;*/
        color: #000;
        font-size: calc(14px + 20 * ((100vw - 800px)/ 1920 -320));
    }
    .tagline-btn {
        display: block;
        border-radius: 50px;
        margin: 20px 0 20px;
        max-width: 200px;
        padding: 11px;
        text-align: center;
        font-size: 18px;
    }
}






@media screen and (max-width: 800px){

.header-blockFirst-container{
    flex-direction: column;
}
.header-menu{
    height: 100vh;
    position: fixed;
    transform: translate(-180%);
    background-color: #000;
    margin-top: 48px;
    transition: 0.8s;
    z-index: 1;
}
.header-menu._activeMenu{
    width: 100vw;
    transform: translate(0%);
}
.menu__list{
    flex-direction: column; 

}
.burger-top{
    display: block; 
    z-index: 2;
}





/*===========cross========================*/
.btn__burger {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    margin-left: 5px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .button__burger span {
    background-color: #000;
    width: 20px;
    height: 2px;
    display: block;
    position: absolute;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
  }
  
  .btn__burger_elem0 {
    top: 32%;
    -webkit-transform: translate(5%, -10%);
        -ms-transform: translate(5%, -10%);
            transform: translate(5%, -10%);
  }
  
  .btn__burger_elem1,
  .btn__burger_elem2 {
    -webkit-transform: translate(5%, -50%);
        -ms-transform: translate(5%, -50%);
            transform: translate(5%, -50%);
    top: 19px;
  }
  
  .btn__burger_active .btn__burger_elem0,
  .btn__burger_active .btn__burger_elem3 {
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .btn__burger_active .btn__burger_elem1 {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    left: 25%;
  }
  
  .btn__burger_active .btn__burger_elem2 {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    left: 25%;
  }
  
  .btn__burger_elem3 {
    bottom: 32%;
  }
  
  .menu._activeMenu {
    -webkit-transform: translate(-2%);
        -ms-transform: translate(-2%);
            transform: translate(-2%);
  }
  
  
/*==================================*/

}




@media screen and (max-width: 600px){
    .header__logo{
        display: none;
    }
    .header-blockThird{
        display: none;
    }
    .header__logo-min{
        display: block;
    }
    .wrepper-inner-blockSecond {
        flex-wrap: wrap;

    }
    .search-wrepper {
        order: 1;
        flex: 1 1 100%;
        padding-bottom: 15px;
    }
    .search {
        width: 100%;

    }
    .search-input {
        width: 80%;
    }
    .search-btn {
        width: 20%;
    }
    
    .header-subMenu {
        order: 0;
    }
    .btn{
        font-size: 14px;
    }

    
}
@media screen and (max-width: 600px){
    .footer__content{
        width: 220px;
        margin: 0 auto;
    }
    .footer-contacts,
    .footer-menu{
        margin-top: 20px;
    }

}
@media screen and (max-width: 500px){
    .tagline-title-2 {
        /*font-size: 50px;*/
        color: #000;
        font-family: 'Montserrat-Bold';
        line-height: 1.3;
        margin-bottom: 10px;
        font-size: calc(20px + 50 * ((100vw - 800px)/ 1920 -320));
    }
    .tagline-title-3 {
       /* font-size: 20px;*/
        color: #000;
        font-size: calc(14px + 20 * ((100vw - 800px)/ 1920 -320));
    }
    .tagline-btn {
        display: block;
        border-radius: 50px;
        margin: 20px 0 20px;
        max-width: 200px;
        padding: 11px;
        text-align: center;
        font-size: 18px;
    }
    .tagline{
       position:static;
      
        width: 100%;
        transform: translate(0%, 0%);
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .tagline-wrepper 
    {
        width: 90%;
    }
    .tagline-mark-1 {
        font-size: 14px;
        background-color: var(--colr-promo);
        padding: 5px 10px;
        display: inline-block;
        margin:  10px auto;
        width: auto;
    
    }
    .tagline-title-2 {
        /*font-size: 50px;*/
        color: #000;
        font-family: 'Montserrat-Bold';
        line-height: 1.3;
        margin-bottom: 10px;
        font-size: calc(20px + 50 * ((100vw - 320px)/ 1920 -320));
    }
    .tagline-title-3 {
       /* font-size: 20px;*/
        color: #000;
        font-size: calc(14px + 20 * ((100vw - 320px)/ 1920 -320));
    }
    .tagline-btn {
        display: block;
        border-radius: 50px;
        margin: 40px 0 20px;
        max-width: 200px;
        padding: 11px;
        text-align: center;
        font-size: 18px;
    }

}